@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

* html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.gradient-bg-welcome {
  background-color:#0f0e13;
  background-image: 
    radial-gradient(at 0% 0%, #100e14 0, transparent 50%), 
    radial-gradient(at 50% 0%, #4d4d4d 0, transparent 50%), 
    radial-gradient(at 100% 0%, #7d7d7d 0, transparent 50%);
}

.grey-glassmorphism {
  background: #24242466;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(0, 0, 0, 0.3);
}



.eth-card {
 background: rgb(153,153,153);
background: linear-gradient(219deg, rgba(153,153,153,0.76234243697479) 0%, rgba(16,14,20,0.5830707282913166) 51%, rgba(16,14,20,0.4990371148459384) 100%);
}

@tailwind base;
@tailwind components;
@tailwind utilities;